body {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

/* Block 1 Starts */

.container-one {
    margin-left: 5%;
    margin-right: 5%;
}

.block {
    display: flex;
    background-color: black;
    border-radius: 30px;
}

.sub-block {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 50%;
    padding-left: 50px;
    color: white;
}

.sub-block h1 {
    font-size: 700%;
    font-weight: 700;
    line-height: 100px;
    padding: 0;
    margin: 0;
}

.sub-block p {
    font-size: 150%;
    font-weight: 200;
}

.sub-block a {
    margin-bottom: 10px;
    background-color: #DD0000;
    width: 250px;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 200%;
    font-weight: 400;
    animation: Click 5s infinite;
}


/* Animation */
@keyframes Click {
    from {
        background-color: #DD0000;
        color: white;
    }

    to {
        background-color: darkgreen;
        color: yellow;
    }

}


.sub-block img {
    padding-top: 20px;
}

/* Block 1 Ends */


/* Block 2 Starts */

.container {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 90px;
    margin-bottom: 90px;
}

.special {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: black;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 25px;
    padding-right: 25px;
    height: 180px;
    margin-top: 60px;
}

.white {
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 200%;
}

.red {
    background-color: #DD0000;
    color: white;
    margin-top: 0;
}

.top-blogs {
    margin-top: 60px;
    margin-bottom: 60px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 40px;
}

.blog {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(205, 205, 205);
    width: 365px;
    border-radius: 10px;
}

.blog .thumbnail img {
    width: 365px;
    height: auto;
    margin-bottom: 25px;
}

.blog a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 150%;
    color: black;
}

.blog-info {
    margin-left: 10px;
    font-size: 150%;
    margin-top: -5px;
}

.course-duration {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-top: -20px;
    color: rgb(136, 136, 136);
    font-size: 150%;
}

.details {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    padding-right: 50px;
}

.details i {
    padding-right: 6px;
}

/* Block 2 Ends */


/* Block 4 Starts */
.hidden-button {
    display: none;
}

.hidden-button a {
    margin-bottom: 10px;
    background-color: #DD0000;
    width: 250px;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 200%;
    font-weight: 400;
}

/* Block 4 Ends */


/* Footer Starts */

footer {
    text-align: center;
    background-color: black;
    color: white;
}

footer h3 {
    font-size: 300%;
    padding-top: 80px;
    padding-bottom: 20px;
}

hr {
    border: 0.1px solid rgb(136, 136, 136);
    width: 80%;
}

.footer-option {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 40px;
    margin-bottom: 30px;
}

.footer-option a {
    text-decoration: none;
    color: white;
    font-size: 100%;
}

footer i {
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    font-size: 30px;
}

/* Footer Ends */

/* Website One Ends */



/* Website Two Starts */

/* Block 3 Starts */

.thumbnail-two {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-left: -10px;
}

.thumbnail-two img {
    width: 170%;
    height: auto;
    margin-left: -20px;
}

.thumbnail-two h3 {
    font-size: 150%;
    padding-left: 50px;
    padding-right: 40px;
}

.blog-two {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(205, 205, 205);
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    width: 365px;
}

.blog-info-two {
    font-size: 150%;
    margin-top: -5px;
}

.schedule-two {
    margin-top: -40px;
    color: rgb(136, 136, 136);
    font-size: 150%;
    margin-bottom: 15px;
}



.blogs-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 35px;
}

.top-blogs-two {
    margin-top: 60px;
    margin-bottom: 30px;
}

/* Block 3 Ends */

/* Website Two Ends */


/* Media Queries */


/* /mobile */

/* Website 1 Starts*/
@media only screen and (max-width: 688px) {

    /* Website 1 Starts*/

    body {
        margin: 0;
    }

    /* Block 1 Starts */
    .container-one {
        margin: 0;
        width: 100%;
    }

    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 25px;
    }

    .sub-block {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 80%;
    }

    .sub-block h1 {
        font-size: 300%;
        font-weight: 700;
        line-height: 60px;
        padding-top: 60px;
    }

    .sub-block a {
        margin-top: 10px;
        font-size: 200%;
        font-weight: 400;
        width: 250px;
    }

    .sub-block img {
        margin-top: 20px;
        width: 90%;
    }

    /* Block 1 Ends */

    /* Block 2 Starts */

    .container {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .special {
        height: 180px;
        margin-top: 20px;
        background-color: white;
    }

    .white {
        margin-top: 20px;
        border: 1px solid rgb(188, 188, 188);
    }

    .blogs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .blog .thumbnail img {
        width: 100%;
        height: auto;
        margin-bottom: 25px;
    }

    .blog {
        width: 90%;
    }

    .footer-option {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
        margin-bottom: 30px;
    }

    /* Block 2 Ends */

    /* Website 1 Ends */


    /* Website 2 Starts */

    /* Block 3 Starts */
    .blogs-two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blog-two {
        width: 600px;
    }

    .thumbnail-two img {
        width: 200px;
        margin-left: 10px;
    }

    .thumbnail-two h3 {
        margin-right: 0px;
        font-size: 200%;
    }

    /* Website 2 Ends */

    /* Block 3 Ends */
}



/* Tablet Devices */

@media only screen and (min-width: 689px) and (max-width: 992px) {

    /* Website One Starts */

    .sub-block h1 {
        font-size: 250%;
        font-weight: 700;
        line-height: 50px;
        padding: 0;
        margin: 0;
    }

    .sub-block p {
        font-size: 70%;
        font-weight: 200;
    }

    .sub-block a {
        margin-bottom: 10px;
        background-color: #DD0000;
        width: 70px;
        text-align: center;
        border-radius: 7px;
        text-decoration: none;
        color: white;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 10px;
        font-weight: 400;
    }

    .container {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .special {
        display: flex;
        flex-direction: row;
        margin-left: 0;
        margin-right: 0;
        border-radius: 10px;
        background-color: white;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0;
        justify-content: space-between;
    }

    .white {
        background-color: white;
        color: black;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        width: 200px;
        text-decoration: none;
        border: 1px solid black;
        margin: 0;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px
    }

    .red {
        background-color: #DD0000;
        color: white;
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
        border: none;

    }

    .top-blogs {
        margin-top: 0;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        grid-row-gap: 40px;
        margin: 0;
        margin-top: 0;
    }

    .blog {
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(205, 205, 205);
        width: 300px;
        border-radius: 10px;
        margin-top: 0;
    }

    .blog .thumbnail img {
        width: 300px;
        height: auto;
        margin-bottom: 25px;
    }

    .hidden-button {
        display: flex;
        justify-content: center;
    }

    /* Website 1 Ends */

    /* Website 2 Starts */
    .top-blogs-two {
        margin-top: 0;
    }

    .blogs-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 35px;
        margin-top: 0;
    }

    .blog-two {
        margin-top: 0;
        width: 300px;
    }

    .thumbnail-two {
        display: flex;
        justify-content: center;
        padding-top: 40px;
        margin-left: 0px;
    }

    .thumbnail-two img {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }

    .thumbnail-two h3 {
        font-size: 150%;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
    }

    /* Website 2 Ends */
}