body {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

.container-two {
    margin-left: 60px;
    margin-right: 60px;
}

.block {
    display: flex;
    background-color: black;
    border-radius: 30px;
}

.sub-block {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 50%;
    padding-left: 30px;
    color: white;
}

.sub-block h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    padding: 0;
    margin: 0;
}

.sub-block p {
    font-size: 15px;
    font-weight: 200;
}

.block .sub-block a {
    margin-bottom: 10px;
    background-color: brown;
    width: 100px;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    font-weight: 400;
}

.white {
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 150px;
}

.red {
    background-color: #DD0000;
    color: white;
}

.special {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    height: 180px;
    margin-top: 60px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    margin-left: 60px;
}

.blog {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(239, 239, 239);
    width: 177px;
    border-radius: 10px;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-author {
    color: #9f9f9f;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-left: 60px;
}

.blog button {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    background-color: white;
    padding: 2px 6px;
    margin-top: 10px;
}

.details {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    padding-right: 50px;
}

.details i {
    padding-right: 6px;
}

.course-duration {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-top: -20px;
    color: rgb(136, 136, 136);
    font-size: 13px;
}

.blog-info {
    margin-left: 10px;
    font-size: 13px;
    margin-top: -5px;
}

.top-blogs {
    margin-top: 60px;
    margin-bottom: 60px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}

footer h3 {
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 30px;
}

hr {
    border: 0.2px solid rgb(136, 136, 136);
    width: 80%;
}

.footer-option {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 40px;
}

footer i {
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
}